.home {

  background-image: url("../picture.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
}
.nav-link:hover
{
  text-decoration:underline;
  color:white;
}
.nav-link
{
  font-size:18px;
}
nav
{
  border-bottom: 1px solid white;
}
.navbar-brand
{
  font-size:25px;
}
.full-screen {
  min-height: 100vh;
}
.home-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
}

.block {

  color: rgb(255, 255, 255);
  padding-left: 35px;
  border-left: 3px solid rgb(255, 255, 255);
  margin-top: 50px;
}
.block h1 {
  font-size: 40px;
  font-weight: 600;
  
}

.block h6 {
  font-size: 18px;
  font-weight: 500;
}