<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="description"
          content="For AI Gym Trainer">
    <meta name="author" content="AI Gym Trainer">
    <title>AI Gym Trainer</title>

    <link rel="shortcut icon" type="image/png" href="static/favicon.png">

    <link href="static/css/header.css" rel="stylesheet" />
    <link href="static/css/main.css" rel="stylesheet" />
    <link href="static/css/home.css" rel="stylesheet" />
    <link href="static/css/footer.css" rel="stylesheet" />

</head>
<body>

    <!--Header Start-->

    <header>
        <div class="container">
            <div class="row">
                <div class="icon">
                    <span>AI Gym Trainer</span>
                </div>

                <div id="ham-burger" class="hamburger">
                    <i class="fa fa-bars"></i>
                </div>  
                <nav class="navbar">
                    <ul>
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/curl">Curl</a></li>                   
                        <li><a href="/deadlift">Deadlift</a></li>
                        <li><a href="/squat">Squat</a></li>
                    </ul>
                </nav> 
                 
            </div>
        </div>
    </header>

    <!--Header End-->
    <!--Home Start-->

    <section class="home" id="home">
        <div class="container">
            <div class="row full-screen">
                <div class="home-content">
                    <div class="block">
                        <h1>AI Gym Trainer Using</h1>
                        <h6>Mediapipe</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Home End-->
    <!--Footer Start-->

    <section class="copyright">
        <div class="container">
            <p>© <span id="year"></span> | Designed and Developed By Syed Affan Hussain | Muhammad Asad | Muhammad Khizar Baig | Mohammad Shehroz | All rights reserved.</p>
        </div>
    </section>

    <script src="static/js/app.js"></script>
    <!--Footer End-->
</body>
</html>